html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}

.icon {
  display: block;
}

form {
  width: 300px;
  margin: 20px auto;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: Arial;
}

label {
  display: block;
  margin-top: 10px;
}

input,
select,
textarea {
  width: 100%;
  padding: 6px;
  margin-top: 4px;
}

button {
  margin-top: 12px;
  width: 100%;
  padding: 8px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
}

body {
  background-image: url(../images/bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 50px;
}
