#tasks {
  left: 20%;
  width: 60%;
  top: 10%;
  height: 80%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid rgba(64, 64, 64, 1);
  background-color: rgba(128, 128, 128, 1);
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
}

#buttonadd {
  font-size: 36px;
  position: relative;
  flex: 1 1 20%;
  height: 10%;
  border: 2px solid rgba(128, 255, 255, 1);
  background-color: rgba(64, 128, 64, 1);
  border-radius: 5px;
  z-index: 100;
}

#textinput {
  position: relative;
  flex: 2 1 40%;
  height: 10%;
  border: 2px solid rgba(128, 255, 255, 1);
  background-color: rgba(64, 128, 64, 1);
  border-radius: 5px;
  z-index: 100;
  display: flex;
  padding: 3px;
}

#tasksblock {
  position: relative;
  width: 100%;
  height: 90%;
  background-color: rgba(128, 128, 128, 1);
  gap: 5px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.taskbar {
  position: relative;
  width: auto;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 3px;
  z-index: 100;
  display: flex;
  align-items: center; /* 垂直居中 */
  justify-content: flex-start; /* 水平靠左 */
  gap: 5px; /* 复选框与文字之间的间距 */
  padding-left: 5px; /* 整体向内缩一点 */
  box-sizing: border-box;
}

.taskbar .taskcheck {
  flex: 0 0 5px;
}
